Hello, 
{{- if .Name}} 
  {{.Name}} 
{{- else}} 
  there
{{- end}}

You live at {{.Address.Street}} in {{.Address.ZipCode}} {{.Address.City}}

You are {{.Age}} years old

  const user = {
    "name": {{.Name}},
    "bio": {{.Bio}},
    "age": {{.Age}}
  };
  console.log(user);