{{template "header" .}}
<div class="px-6">
	<h1 class="py-4 text-4xl semibold tracking-tight">Contact Page </h1> 
<p> To get in touch, please send an email to <a class="underline" href="mailto:arthur.gassmann@outlook.com">Arthur Gassmann</a>

</p>
</div>
{{template "footer" .}} 